src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:redmine="http://www.mulesoft.org/schema/mule/redmine" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/redmine http://www.mulesoft.org/schema/mule/redmine/current/mule-redmine.xsd"
>

<context:property-placeholder location="automation-credentials.properties" />

<!-- <redmine:config-type apiAccessKey="${redmine.apiAccessKey}" username="${redmine.username}" password="${redmine.password}" uri="${redmine.uri}" name="Redmine" doc:name="Redmine"></redmine:config-type> -->
<redmine:config-type apiAccessKey="7513fa5acffa66604a8736a7cc2d8d2dad110118" username="connector" password="epipass" uri="http://192.168.11.243/redmine/" name="Redmine" doc:name="Redmine"></redmine:config-type>

<flow name="get-available-projects" doc:name="GetAvailableProjects">
	<redmine:get-available-projects config-ref="Redmine"/>
</flow>

<flow name="get-project-issues" doc:name="GetProjectIssues">
	<redmine:get-project-issues config-ref="Redmine" projectKey="#[flowVars.projectKey]" />
</flow>

<flow name="get-project-detail" doc:name="GetProjectDetail">
	<redmine:get-project-detail config-ref="Redmine" projectKey="#[flowVars.projectKey]" />
</flow>

<flow name="get-project-members" doc:name="GetProjectMembers">
	<redmine:get-project-members config-ref="Redmine" projectKey="#[flowVars.projectKey]" />
</flow>

<flow name="get-users" doc:name="GetUsers">
	<redmine:get-users config-ref="Redmine"/>
</flow>

<flow name="get-user-detail" doc:name="GetUserDetail">
	<redmine:get-user-detail config-ref="Redmine" userId="#[flowVars.userId]" />
</flow>

<flow name="get-roles" doc:name="GetRoles">
	<redmine:get-roles config-ref="Redmine"/>
</flow>

<flow name="get-role-detail" doc:name="GetRoleDetail">
	<redmine:get-role-detail config-ref="Redmine" roleId="#[flowVars.roleId]" />
</flow>

<flow name="get-groups" doc:name="GetGroups">
	<redmine:get-groups config-ref="Redmine"/>
</flow>

<flow name="get-group-detail" doc:name="GetGroupDetail">
	<redmine:get-group-detail config-ref="Redmine" groupId="#[flowVars.groupId]" />
</flow>


</mule>
