src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:redmine="http://www.mulesoft.org/schema/mule/redmine" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/redmine http://www.mulesoft.org/schema/mule/redmine/current/mule-redmine.xsd"
>

<context:property-placeholder location="automation-credentials.properties" />

<redmine:config-type apiAccessKey="${redmine.apiAccessKey}" username="${redmine.username}" password="${redmine.password}" uri="${redmine.uri}" name="Redmine" doc:name="Redmine"></redmine:config-type>


<flow name="create-issue" >
	<redmine:create-issue config-ref="Redmine" doc:name="Redmine" 
		projectKey="#[flowVars.projectKey]" 
		subject="#[flowVars.subject]"
		description="#[flowVars.description]"
		priorityId="#[flowVars.priorityId]"
	 	statusId="#[flowVars.statusId]"
		statusName="#[flowVars.statusName]"
	/>
</flow>

<flow name="get-available-projects" >
	<redmine:get-available-projects config-ref="Redmine" doc:name="Redmine"/>
</flow>

<flow name="get-project-issues" >
	<redmine:get-project-issues config-ref="Redmine" projectKey="#[flowVars.projectKey]" doc:name="Redmine"/>
</flow>

<flow name="get-project-detail" >
	<redmine:get-project-detail config-ref="Redmine" projectKey="#[flowVars.projectKey]" doc:name="Redmine"/>
</flow>

<flow name="get-project-members" >
	<redmine:get-project-members config-ref="Redmine" projectKey="#[flowVars.projectKey]" doc:name="Redmine"/>
</flow>

<flow name="get-users" >
	<redmine:get-users config-ref="Redmine" doc:name="Redmine"/>
</flow>

<flow name="get-user-detail" >
	<redmine:get-user-detail config-ref="Redmine" userId="#[flowVars.userId]" doc:name="Redmine"/>
</flow>

<flow name="get-roles" >
        <redmine:get-roles config-ref="Redmine" doc:name="Redmine"/>
</flow>

<flow name="get-role-detail" >
	<redmine:get-role-detail config-ref="Redmine" roleId="#[flowVars.roleId]" doc:name="Redmine"/>
</flow>

<flow name="get-groups" >
	<redmine:get-groups config-ref="Redmine" doc:name="Redmine"/>
</flow>

<flow name="get-group-detail" >
	<redmine:get-group-detail config-ref="Redmine" groupId="#[flowVars.groupId]" doc:name="Redmine"/>
</flow>


</mule>
